<!-- include block 'indexhero4' starts here. Special version for 2024 concert. Swap out with indexhero4-standard.html when done -->
<div data-jarallax class="jarallax style-indexhero d-table" id="index5">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-5 col-md-6 col-12 my-auto px-5 pt-5">
                <a href="{% post_url 2024-12-30-2025concertensemble %}"><img src="{{ site.baseurl }}/assets/img/2025ensemble-elgarcover.jpg"></a>
            </div>
            <div class="col-lg-7 col-md-6 col-12 my-auto pb-5">
                <h2>教室OBOGの皆さまへ</h2>
                <span class="lead">2025年（第65回）発表会企画のお知らせ<a type="button" class="btn btn-lg btn-block btn-primary" style="width:15em;" href="{% post_url 2024-12-30-2025concertensemble %}">もっと詳しく</a></lead>
            </div>
        </div>
    </div>
</div>
<!-- include block 'indexhero4' ends here. Special version for 2024 concert -->