<!-- include block 'indexhero4' starts here. Special version for 2023 concert -->
<div data-jarallax class="jarallax style-indexhero d-table" id="index4">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-5 col-md-6 col-12 my-auto px-5 pt-5">
                <img src="{{ site.baseurl }}/assets/img/2023-concertprogram-500.png">
            </div>
            <div class="col-lg-7 col-md-6 col-12 my-auto pb-5">
                <h2>第63回 発表会（2023年）</h2>
                <span class="lead">2023年の発表会は、6月18日（日）に神奈川県立音楽堂にて開催いたします。<a href="{% post_url 2023-03-11-2023concert %}">もっと詳しく</a></lead>
            </div>
        </div>
    </div>
</div>
<!-- include block 'indexhero4' ends here. Special version for 2023 concert -->