<!-- include block 'indexhero4' starts here. Special version for 2024 concert. Swap out with indexhero4-standard.html when done -->
<div data-jarallax class="jarallax style-indexhero d-table" id="index4">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-5 col-md-6 col-12 my-auto px-5 pt-5">
                <img src="{{ site.baseurl }}/assets/img/2024concert-coverw500.jpg">
            </div>
            <div class="col-lg-7 col-md-6 col-12 my-auto pb-5">
                <h2>2024 第64回発表会</h2>
                <span class="lead">2024年の発表会は、7月21日（日）に神奈川県立音楽堂にて開催いたします。<a type="button" class="btn btn-lg btn-block btn-primary mx-auto" style="width:15em;" href="{% post_url 2024-06-17-2024concert %}">もっと詳しく</a></lead>
            </div>
        </div>
    </div>
</div>
<!-- include block 'indexhero4' ends here. Special version for 2024 concert -->