<!-- include block 'indexhero4' starts here. Special version for 2024 concert. Swap out with indexhero4-standard.html when done -->
<div data-jarallax class="jarallax style-indexhero d-table" id="index4">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-5 col-md-6 col-12 my-auto px-5 pt-5">
                <a href="{% post_url 2026-06-15-2026concert %}"><img src="{{ site.baseurl }}/assets/img/makino_pro2026_A4_02-1.png"></a>
            </div>
            <div class="col-lg-7 col-md-6 col-12 my-auto pb-5">
                <h2>2026 第66回発表会</h2>
                <span class="lead">2026年の発表会は、7月20日（月・祝）に横浜市開港記念館にて開催いたします。<a type="button" class="btn btn-lg btn-block btn-primary" style="width:15em;" href="{% post_url 2026-06-15-2026concert %}">もっと詳しく</a></lead>
            </div>
        </div>
    </div>
</div>
<!-- include block 'indexhero4' ends here. Special version for 2024 concert -->