<!doctype html>
<html lang="ja">
        
{% include head.html %}

<body id="top">

{% include indexbanner.html %}

{% include navbar.html %}

{% include indexheader.html %}

{% include indexintro0.html %}

{% include indexhero1.html %}

{% include indexintro1.html %}

{% include indexhero2.html %}

{% include indexintro2.html %}

{% include indexhero3.html %}

{% include indexintro3.html %}

{% include indexhero4.html %}

{% include indexintro4.html %}

{% include indexhero5-2025ensemble.html %}

{% comment %}
<div class="container-fluid style-content">
        {{ content }}
</div>
{% endcomment %}

{% include footer.html %}

{% include js.html %}

</body>
</html>
